// MAIN STYLESHEET FOR GESTALTFOUNDATION.ORG
// -----------------------------------

// BOOTSTRAP INCLUSIONS
// --------------------

@import "bootstrap-variables.less";
@import "bootstrap-mixins.less";
@import "bootstrap-reset.less";
@import "bootstrap-type.less";
@import "bootstrap-navs.less";
@import "bootstrap-navbar.less";

// IMPORTED FONTS
// --------------

@import "http://fonts.googleapis.com/css?family=Fredericka+the+Great:400normal&subset=all";
@import "http://fonts.googleapis.com/css?family=Ruda:400normal&subset=all";

// VARIABLES
// ---------

@navbarHeight: 40px;
@footerHeight: 30px;
@blueLight: lighten(@blue, 10%);
@baseFontFamily: "Ruda", sans;

// GRID LAYOUT
// -----------

// Fixed (940px)
#grid > .core(@gridColumnWidth, @gridGutterWidth);

// Fluid (940px)
#grid > .fluid(@fluidGridColumnWidth, @fluidGridGutterWidth);


// LAYOUTS
// -------

// Container (centered, fixed-width layouts)
.container {
  .container-fixed();
}

// Fluid layouts (left aligned, with sidebar, min- & max-width content)
.container-fluid {
  padding-left: @gridGutterWidth;
  padding-right: @gridGutterWidth;
  .clearfix();
}

// GENERAL STYLES
// --------------

body {
    font-family: @baseFontFamily;
}

// NAVBAR
// ------

.navbar {

    .brand {
        font-size: @navbarHeight - 15;
        line-height: @navbarHeight;
        font-family: "Fredericka the Great";
        text-decoration: none;
        color: @white;
        padding: 0px;
        margin-left: 0px;
    }

    .brand:hover, .brand:active {
        color: @blueLight;
    }

    .nav {
        float: right;
        display: block;

        li {
            display: block;
            float: left;
            margin-left: 10px;
            padding: 10px 10px 11px;
            line-height: @navbarHeight;

            a {
                float: none;
                line-height: 17px;
                padding: 2px 0;
                //font-family: "Ruda";
                font-size: 14px;
                text-shadow: 0 1px 3px rgba(0,0,0,.25);
                text-transform: uppercase;
            }

            a:hover, a:active {
                color: @white;
            }
        }

        li.active {
            a, a:hover, a:active {
                background: none;
                border-bottom: 2px solid @blue;
            }
        }
    }

    .navbar-bottom {
        height: 8px;
        #gradient > .vertical(@blueLight, @blue);
    }
}

// MAIN CONTENT AREA
// -----------------

.main {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    #gradient > .vertical(@white, #ddd);

    padding-top: @navbarHeight + 25 + 10;
    padding-bottom: @footerHeight + 10;
}

// FOOTER
// ------

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1030;
    margin: 0px;
    height: @footerHeight;
    display: block;
    overflow: none;

    .footer-inner {
        padding-left:  20px;
        padding-right: 20px;
        #gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
        @shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
        .box-shadow(@shadow);
        display: block;
        overflow: none;
        height: @footerHeight;
    }

    .copyright {
        color: @gray;
        font-size: 12px;
        line-height: @footerHeight;
        float: left;
    }

    .social {
        .nav {
            float: right;
            display: block;

            li {
                display: block;
                float: left;
                margin-left: 10px;

                a {
                    float: none;
                    line-height: @footerHeight;
                    text-decoration: none;
                    color: @gray;
                }

                a:hover, a:active {
                    background: none;
                }
            }
        }
    }
}

